@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@100;300&display=swap');
.cont
{
    display: grid;
    grid-template-columns: 70% auto;
    margin-top:25px;
    margin-bottom: 5px;
    grid-template-rows: 600px; 
    width: 100%;
}
.im
{
    margin-left: 5px;
    width: 95%;
    height: 600px;
}
h2{
     font-size: 50px;
     margin : 10px 0 10px 10px;
    }
.sec
{
    font-size:large;
    color: black;
    margin-top: 5x;
    margin-right: 3px;
    font-size: 20px;
}
@media screen and (max-width:768px) {
    .cont{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px;
    }
    .im{
        width:100%;
        margin:0 0 0 0;
        height:400px;
    }
    h2{
     font-size: 40px;
     margin : 30px 0 10px 10px;
    }
    
}