@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@100;300&display=swap');
.con_res{
    display: none;
}
/*.con_res
{
    display: grid;
    grid-template-columns: 45% auto;
    margin-top:30px;
    margin-bottom: 5px;
    grid-template-rows: 500px;  
    background-color: white;
    width: 100%;
}
.heading{
    margin-top:4px;
    background-color: black;
    font-size: 40px;
    text-align: center;
}
.first_res
{
    background-color: pink;
    color: green;
    margin-left: 5px;
    width: 97%;
    height: 500px;
}
h2{
     font-size: 50px;
     margin : 60px 0 10px 10px;
    }
.second_res
{
    font-size:large;
    color: black;
    margin-right: 3px;
    font-family: 'Hubballi', cursive;
    font-size: 25px;
}
*/
@media screen and (max-width:768px) {
    .con_res{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px;
    }
    .first_res{
        width:100%;
        margin:0 0 0 0;
        height:400px;
    }
    h2{
     font-size: 40px;
     margin : 30px 0 10px 10px;
    }
    
}