h1 {
  
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
.navbar{
  top:0%;
  position: fixed;
  left: 0%;
  margin-top: 0px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}
.navbar > .navbar-left{
  margin-top:40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
}
.navbar > .navbar-right
{
  width: 30%;
} 
.navbar a {
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
  width: 40%;
  text-decoration: none;
  font-size: 20px;
}

.nav-link
{
	display: flex;
	justify-content: space-around;
  align-items: center;
	list-style: none;
	width: 85%;
}
.home,.about,.travel,.covid,.facility,.book
{
text-decoration: none;
color:white;
font-size:20px;
padding: 10px,10px;
margin: 0,10px;
cursor: pointer;
}
.mobile-menu-icon
{
	display: none;
}

@media screen and (max-width:768px)
{
  .navbar > .navbar-left{
  align-items: center;
  font-size: 40px;
  
}
  h1 {
  
    margin-left: 2px;
    color: white;
    text-align: center;
    font-size: 45px;
    
}
.nav-link{
  display: none;
}
.navbar .nav-links-mobile
{
 position: absolute;
 display: flex;
 list-style: none;
 background-color: transparent;
 color:black;
 top: 90px;
 flex-direction: column;
 right: 10%;
 width: 100%;
 align-items: center;
 transition: all 0.4s ease-out;
}
/*.home,.about,.travel,.covid,.facility,.book
{
text-align:center;
align-items: center;
color:white;
width: 100%;
padding: 32px;
transition: all 0.5s ease-out;
}*/
.mobile-menu-icon
{
display: block;
position: absolute;
font-size: 30px;
margin-left:5px;
color: white;
background-color: #000000;
border: none;
outline: none;
top: 29px;
right: 10px;
}
}